.Badge {
  border-radius: 4px;
  display: inline-flex;
  flex-direction: row;
  padding: 2px 6px;
  white-space: nowrap;

  // Setting font style manually until we've updated the text
  // component to match Figma styles
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: red;

  &__small {
    font-size: 9px;
  }

  &__medium {
    font-size: 11px;
  }
}
